<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Package</title>
    <link rel="stylesheet" th:href="@{/css/package.css}">
    <script>
        function validateForm(event) {
            const name = document.getElementById("packageName").value.trim();
            const duration = parseInt(document.getElementById("durationInMonths").value);
            const price = parseFloat(document.getElementById("price").value);

            let isValid = true;
            let msg = "";

            if (name === "" || name.length > 100) {
                msg += "Package name must not be empty and less than 100 characters.\n";
                isValid = false;
            }

            if (isNaN(duration) || duration < 1 || duration > 60) {
                msg += "Duration must be between 1 and 60 months.\n";
                isValid = false;
            }

            if (isNaN(price) || price <= 0 || price > 10000000) {
                msg += "Price must be greater than 0 and less than or equal to 10,000.\n";
                isValid = false;
            }

            if (!isValid) {
                alert(msg);
                event.preventDefault();
            }
        }
    </script>
</head>
<body>
<div class="container">
    <a th:href="@{/manager/package/list}" class="btn btn-back">Back</a>
    <h1>Create New Package</h1>
    <form th:action="@{/manager/package/create}" method="post" class="form-box" onsubmit="validateForm(event)" th:object="${sellerPackage}">
        <p style="color: red" th:text="${errMsg}"></p>

        <label>Package Name:</label>
        <input type="text" th:field="*{packageName}" placeholder="Enter package name">
        <p th:errors="*{packageName}" style="color: red"></p>
        <label>Duration (months):</label>
        <input type="number" th:field="*{durationInMonths}" min="1" max="60" placeholder="e.g. 12">
        <p th:errors="*{durationInMonths}" style="color: red"></p>
        <label>Price ($):</label>
        <input type="number" th:field="*{price}" step="1000" min="1000" max="10000000" placeholder="e.g. 99.99">
        <p th:errors="*{price}" style="color: red"></p>
        <label>Description:</label>
        <textarea th:field="*{description}" rows="3" placeholder="Optional description..."></textarea>
        <p th:errors="*{description}" style="color: red"></p>
        <button type="submit" class="btn btn-save">Save</button>

    </form>
</div>
</body>
</html>
